body {
    background: linear-gradient(90deg,springgreen, lightskyblue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: teal;
    width: 90px;
}

td {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
}

tr {
    border: 4px solid black;
}

#tracker {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 40px;
    margin-top: 60px;
    font-size: x-large;
}